// -------------------------------------------------------
// HERE WE HAVE THE GLOBAL COLOR
// THIS SHOULD BE OVERRIDE IN _overrides
// -------------------------------------------------------

// ==================== GLOBAL COLORS ====================

$color-global-primary:								#0088cc;
$color-global-primary--alt:							#0099e6;
$color-global-ternary:								#2baab1;
$color-global-ternary--hover:						#2baab1;
$color-global-ternary--alt:							#006699;
$color-global-ternary--alt-dark:					#004466;
$color-global-light:								#fff;
$color-global-light--alt:							#f2f2f2;
$color-global-danger:								#e36159;
$color-global-danger--alt:							#e36159;
$color-global-danger--hard:							#dc372d;
$color-global-danger--dark:							#b7281f;
$color-global-danger--ternary:						#b7281f;
$color-global-dark:									#212529;
$color-global-dark--alt:							#2c3237;
$color-global-dark--hard:							#2c3237;
$color-global-quaternary:							#383f48;
$color-global-dark-hover:							#212529;
$color-global-negative:								#000000;
$color-global-dark--middle:							#777;
$color-global-middle:								#0088cc;
$color-global-hard:									#00aaff;
$color-global-hard--alt:							#00a1f2;

// ==================== ./GLOBAL COLORS ====================
