<div class="container">
	<div class="container__row">
		<h4 class="u-text-center  u-full">Inputs</h4>
	</div>
	<div class="container__row  u-text-center">
		<div class="container__col-xl-4  container__col-lg-4  container__col-md-4  container__col-sm-12  container__col-12">
			<input type="text" name="input1" id="input1" class="o-input" placeholder="Input Blank">
		</div>
		<div class="container__col-xl-4  container__col-lg-4  container__col-md-4  container__col-sm-12  container__col-12">
			<input type="text" name="input2" id="input2" class="o-input  o-input--primary" placeholder="Input Primary">
		</div>
		<div class="container__col-xl-4  container__col-lg-4  container__col-md-4  container__col-sm-12  container__col-12">
			<input type="text" name="input3" id="input3" class="o-input  o-input--secondary" placeholder="Input Secondary">
		</div>
	</div>
</div>